@media(min-width:4000px){
	.label{
		margin-top: 600px;
		width: 1200px;
	}

	hr{
		width:900px;
	}

	#instructors-list{

	}

	.item{
		height:700px;
	}

	.item .info{
		font-size: 42px;
	}
}

@media(min-width: 3000px) and (max-width:3999px){
	.label{
		margin-top: 600px;
		width: 1000px;
	}

	hr{
		width:850px;
	}

	#instructors-list{

	}

	.item{
		height:600px;
	}

	.item .info{
		font-size: 34px;
	}
}

@media(min-width: 2000px) and (max-width: 2999px){
	.label{
		margin-top: 400px;
		width: 800px;
	}

	hr{
		width:650px;
	}

	#instructors-list{

	}

	.item{
		height:500px;
	}

	.item .info{
		font-size: 28px;
	}


}

@media (min-width: 1800px) and (max-width: 1999px){
	.label{
		margin-top: 250px;
		width: 600px;
	}

	hr{
		width:500px;
	}

	#instructors-list{

	}

	.item{
		height:350px;
	}

	.item .info{
		font-size: 22px;
	}
	
} 

@media (min-width: 1600px) and (max-width:1799px){
	
}

@media (min-width: 1200px) and (max-width:1599px){
	.label{
		width: 500px;
	}

	hr{
		width:400px;
	}

	#instructors-list{

	}

	.item{
		height:280px;
	}

	.item .info{
		font-size: 17px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.label{
		width: 400px;
	}

	hr{
		width:320px;
	}

	#instructors-list{


	}

	.item{
		height:230px;
		margin: 2.4%;

	}

	.item .info{
		font-size: 14px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.label{
		margin-top: 150px;
		width: 330px;
	}

	hr{
		width:280px;
	}

	#instructors-list{
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;

	}

	.item{
		width: 30%;
		height:300px;
		margin: 5% auto;

	}

	.item .info{
		font-size: 16px;
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 767px){
	.label{
		margin-top: 150px;
		width: 270px;
	}

	hr{
		width:230px;
	}

	#instructors-list{
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;

	}

	.item{
		width: 40%;
		height:300px;
		margin: 5% auto;

	}

	.item .info{
		font-size: 16px;
	}


}

/* Landscape phones and smaller */
@media (max-width: 479px) {
	.label{
		margin-top: 100px;
		width: 270px;
	}

	hr{
		width:230px;
	}

	#instructors-list{
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;

	}

	.item{
		width: 40%;
		height:300px;
		margin: 5% auto;

	}

	.item .info{
		font-size: 16px;
	}
}